*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #6096B4;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-right: 150px;
}
header p img{
    line-height: 50px;
    width: 98px;
    height: 27px;
    padding: 10px 230px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
nav ul li a:hover{
    background-color: #93bfcfaf;
}
main #content section article img{
    width: 350px;
    height: 300px;
    padding-left: 300px;
    padding-top: 40px;
}
main>article h2{
    font-family: 'Montserrat';
    color: #41657a;
    font-size: 35px;
    font-weight: bold;
    margin-left: 700px;
    margin-bottom: 50px;
}
main>article p{
    font-family: 'Montserrat';
    color: black;
    font-size: 15px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
 }
 main>div article h4{
    font-family: 'Montserrat';
    color: #41657a;
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 18px;
 }
 main>div article p{
    font-family: 'Montserrat';
    color: #41657a;
    text-align: center;
    font-size: 18px;
 }